<div class="collection-filter">
    <h3>Collections in your city</h3>
    <div class="filter-btns">
        <button class="btn btn-default filter-button btn1" data-filter="all">
            <img src="~/Content/images/collection-list/tab1.png" id="tab1" alt="" /><br>All
        </button>
        <button class="btn btn-default filter-button btn2" data-filter="saved">
            <img src="~/Content/images/collection-list/tab2.png" id="tab2" class="grey-scale" alt="" /><br>Saved
        </button>
        <button class="btn btn-default filter-button btn3" data-filter="following">
            <img src="~/Content/images/collection-list/tab3.png" id="tab3" class="grey-scale" alt="" /><br>Following
        </button>
        <button class="btn btn-default filter-button btn4" data-filter="mine">
            <img src="~/Content/images/collection-list/tab4.png" id="tab4" class="grey-scale" alt="" /><br>Mine
        </button>
    </div>
</div>
<div class=" container collection-cards">
    <div class="row">
        <div class="col-sm-6 col-md-4 filter saved">
            <div class="thumbnail">
                <a href=""> <img src="~/Content/images/collection-list/thumb.png" class="img-responsive" alt="" /></a>
                <div class="caption">
                    <h4><a href=""> TRENDING THIS WEEK</a></h4>
                    <p>surved not only not only surved</p>
                    <h3><span class="number">30</span> <span>PLACES</span><span class="save-coll"><a href="">save collections</a></span></h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 filter following">
            <div class="thumbnail">
                <a href=""> <img src="~/Content/images/collection-list/thumb.png" class="img-responsive" alt="" /></a>
                <div class="caption">
                    <h4><a href=""> TRENDING THIS WEEK</a></h4>
                    <p>surved not only not only surved</p>
                    <h3><span class="number">30</span> <span>PLACES</span><span class="save-coll"><a href="">save collections</a></span></h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 filter mine">
            <div class="thumbnail">
                <a href=""> <img src="~/Content/images/collection-list/thumb.png" class="img-responsive" alt="" /></a>
                <div class="caption">
                    <h4><a href=""> TRENDING THIS WEEK</a></h4>
                    <p>surved not only not only surved</p>
                    <h3><span class="number">30</span> <span>PLACES</span><span class="save-coll"><a href="">save collections</a></span></h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 filter saved">
            <div class="thumbnail">
                <a href=""> <img src="~/Content/images/collection-list/thumb.png" class="img-responsive" alt="" /></a>
                <div class="caption">
                    <h4><a href=""> TRENDING THIS WEEK</a></h4>
                    <p>surved not only not only surved</p>
                    <h3><span class="number">30</span> <span>PLACES</span><span class="save-coll"><a href="">save collections</a></span></h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 filter following">
            <div class="thumbnail">
                <a href=""> <img src="~/Content/images/collection-list/thumb.png" class="img-responsive" alt="" /></a>
                <div class="caption">
                    <h4><a href=""> TRENDING THIS WEEK</a></h4>
                    <p>surved not only not only surved</p>
                    <h3><span class="number">30</span> <span>PLACES</span><span class="save-coll"><a href="">save collections</a></span></h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 filter mine">
            <div class="thumbnail">
                <a href=""> <img src="~/Content/images/collection-list/thumb.png" class="img-responsive" alt="" /></a>
                <div class="caption">
                    <h4><a href=""> TRENDING THIS WEEK</a></h4>
                    <p>surved not only not only surved</p>
                    <h3><span class="number">30</span> <span>PLACES</span><span class="save-coll"><a href="">save collections</a></span></h3>
                </div>
            </div>
        </div>

    </div>
</div>
