<div class="restaurant">
    <div class="container">
        <div class="row time">
            <div class="col-md-9">
                <img src="~/Content/images/restaurant/image.png" class="image-responsive" alt="" />
                <h2>Aenean pharetra lectus utsto.</h2>
                <p><i class="fa fa-info-circle" aria-hidden="true"></i><span>Pizza</span> | <span>Italian Food</span> &nbsp;&nbsp;<span> <i class="fa fa-map-marker" aria-hidden="true"></i>piccadely</span> |<span>20m</span></p><span class="now">OPEN NOW</span>
                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.</p>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Opening Hours</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>MON<span>  08:00 AM - 11:00 PM</span></li>
                            <li>MON<span>  08:00 AM - 11:00 PM</span></li>
                            <li>MON<span>  08:00 AM - 11:00 PM</span></li>
                            <li>MON<span>  08:00 AM - 11:00 PM</span></li>
                            <li>MON<span>  08:00 AM - 11:00 PM</span></li>
                            <li>MON<span>  08:00 AM - 11:00 PM</span></li>
                            <li>MON<span>  08:00 AM - 11:00 PM</span></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <table>
                        <tr>
                            <td><p class="txt">Chickins</p><br><p class="num">200</p></td>
                            <td><p class="txt">Followers</p><br><p class="num">1000</p></td>
                        </tr>
                        <tr>
                            <td><p class="txt">Reviews</p><br><p class="num">200</p></td>
                            <td><p class="txt">Branches</p><br><p class="num">5</p></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row menu-list">
            <h2>Menu List</h2>
            <div class="col-md-6">
                <ul>
                    <li>
                        <h4>Ultimate organic fruit salad</h4><span><sup>$</sup>500.00</span>
                        <p>survived not only five centuries but the leap</p>
                    </li>
                    <li>
                        <h4>Plain pancakes</h4><span><sup>$</sup>500.00</span>
                        <p>Donec eget augue at diam euismod viverra</p>
                    </li>
                    <li>
                        <h4>Ultimate organic fruit salad</h4><span><sup>$</sup>500.00</span>
                        <p>survived not only five centuries but the leap</p>
                    </li>
                    <li>
                        <h4>Plain pancakes</h4><span><sup>$</sup>500.00</span>
                        <p>Donec eget augue at diam euismod viverra</p>
                    </li>
                    <li>
                        <h4>Ultimate organic fruit salad</h4><span><sup>$</sup>500.00</span>
                        <p>survived not only five centuries but the leap</p>
                    </li>
                    <li>
                        <h4>Plain pancakes</h4><span><sup>$</sup>500.00</span>
                        <p>Donec eget augue at diam euismod viverra</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>
                        <h4>Ultimate organic fruit salad</h4><span><sup>$</sup>500.00</span>
                        <p>survived not only five centuries but the leap</p>
                    </li>
                    <li>
                        <h4>Plain pancakes</h4><span><sup>$</sup>500.00</span>
                        <p>Donec eget augue at diam euismod viverra</p>
                    </li>
                    <li>
                        <h4>Ultimate organic fruit salad</h4><span><sup>$</sup>500.00</span>
                        <p>survived not only five centuries but the leap</p>
                    </li>
                    <li>
                        <h4>Plain pancakes</h4><span><sup>$</sup>500.00</span>
                        <p>Donec eget augue at diam euismod viverra</p>
                    </li>
                    <li>
                        <h4>Ultimate organic fruit salad</h4><span><sup>$</sup>500.00</span>
                        <p>survived not only five centuries but the leap</p>
                    </li>
                    <li>
                        <h4>Plain pancakes</h4><span><sup>$</sup>500.00</span>
                        <p>Donec eget augue at diam euismod viverra</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
