<div class="row restaurant-reviews">
    <div class="container">
        <h2>Reviews (<span>50</span>)</h2>

        <div class="col-md-8">
            <ul class="media-list">
                <li class="media">

                    <div class="media-left">

                        <img src="~/Content/images/avatar.png" alt="" />
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">John Doe <small>February 19, 2016</small></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="">Reply</a>
                        <!-- Nested media object -->
                        <div class="media">
                            <div class="media-left">
                                <img src="~/Content/images/avatar.png" alt="" />
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">John Doe <small>22 ims ago</small></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="media">
                    <div class="media-left">
                        <img src="~/Content/images/avatar.png" alt="" />
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">John Doe <small>February 19, 2016</small></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-left">
                        <img src="~/Content/images/avatar.png" alt="" />
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">John Doe <small>February 19, 2016</small></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </li>
            </ul>

        </div>
    </div>
    <div class="container">
        <div class="leave-comment row">
            <h2>Leave a Review</h2>
            <div class="col-md-8">
                <form>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="email" type="text" class="form-control" name="email" placeholder="Email">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input id="email" type="text" class="form-control" name="email" placeholder="Email">
                    </div>

                    <textarea placeholder="Message"></textarea>
                </form>
                <button class="btn btn-default" type="submit">COMMENT NOW</button>
            </div>

        </div>
    </div>



</div>
