<div class="app">
    <div class="col-md-4 feat">
        <ul class="media-list">
            <li class="media">
                <div class="media-body" style="text-align: right;">
                    <h4 class="media-heading">online booking</h4>
                    It is a long established fact that a reader will be distracted by the readable ~/Content of a page when looking at its layout.
                </div>
                <div class="media-right">
                    <a href="#">
                        <img src="~/Content/images/app/feat1.png" alt="" />
                    </a>
                </div>
            </li>
            <li class="media">
                <div class="media-body" style="text-align: right;">
                    <h4 class="media-heading">online booking</h4>
                    It is a long established fact that a reader will be distracted by the readable ~/Content of a page when looking at its layout.
                </div>
                <div class="media-right">
                    <a href="#">
                        <img src="~/Content/images/app/feat2.png" alt="" />
                    </a>
                </div>
            </li>
            <li>
                <a href="" class="pull-right apple"><img src="~/Content/images/app/apple.png" alt="" /></a>
            </li>
        </ul>
    </div>
    <div class="col-md-4 phone">
        <!--                <img src="~/Content/images/pone.png" class="img-responsive" alt=""/>-->
        <img src="~/Content/images/app/mobile.png" class="img-responsive" alt="" />
    </div>
    <div class="col-md-4 feat">
        <ul class="media-list">
            <li class="media">
                <div class="media-left">
                    <a href="#">
                        <img src="~/Content/images/app/feat3.png" alt="" />
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">online booking</h4>
                    It is a long established fact that a reader will be distracted by the readable ~/Content of a page when looking at its layout.
                </div>
            </li>
            <li class="media">
                <div class="media-left">
                    <a href="#">
                        <img src="~/Content/images/app/feat4.png" alt="" />
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">online booking</h4>
                    It is a long established fact that a reader will be distracted by the readable ~/Content of a page when looking at its layout.
                </div>
            </li>
            <li>
                <a href="" class="google"><img src="~/Content/images/app/google.png" alt="" /></a>
            </li>
        </ul>
    </div>
</div>
