<div class="collection">
    <div class="container">
        <h2>Collections in your city</h2>
        <div class="row">
            <a href=""> <img src="~/Content/images/collection/pizza.png" alt="" /></a>
            <a href=""> <img src="~/Content/images/collection/sushi.png" alt="" /></a>
            <a href=""> <img src="~/Content/images/collection/mexican.png" alt="" /></a>
            <a href=""> <img src="~/Content/images/collection/fast.png" alt="" /></a>
            <a href=""> <img src="~/Content/images/collection/chinese.png" alt="" /></a>
            <a href=""> <img src="~/Content/images/collection/thai.png" alt="" /></a>
            <a href=""> <img src="~/Content/images/collection/fast.png" alt="" /></a>
            <a href=""> <img src="~/Content/images/collection/chinese.png" alt="" /></a>
            <a href=""> <img src="~/Content/images/collection/thai.png" alt="" /></a>
            <a href=""> <img src="~/Content/images/collection/10.png" alt="" /></a>
        </div>
    </div>
</div>
