<div class="featured">
    <h2>Featured Restaurants</h2>

    <div class="container">
        <div class="filter-btns">
            <div class="dropdown hidden-lg hidden-md hidden-sm">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <button class="btn btn-default filter-button hidden-xs active" data-filter="all">All</button>
            <button class="btn btn-default filter-button hidden-xs" data-filter="italian">ITALIAN</button>
            <button class="btn btn-default filter-button hidden-xs" data-filter="mexican">MEXICAN</button>
            <button class="btn btn-default filter-button hidden-xs" data-filter="sushi">SUSHI</button>
            <button class="btn btn-default filter-button hidden-xs" data-filter="fastfood">FASTFOOD</button>
        </div>
        <div class="owl-carousel owl-theme">
            <div class="item filter italian">
                <div class="thumbnail">
                    <img src="~/Content/images/featured/img1.png" alt="" />
                    <div class="caption">
                        <h3>Pakoda Chanty</h3>
                        <p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <p class="btns"><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>

            </div>
            <div class="item filter mexican">
                <div class="thumbnail">
                    <img src="~/Content/images/featured/img1.png" alt="" />
                    <div class="caption">
                        <h3>Pakoda Chanty</h3>
                        <p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>

            </div>
            <div class="item filter hdpe">
                <div class="thumbnail">
                    <img src="~/Content/images/featured/img1.png" alt="" />
                    <div class="caption">
                        <h3>Pakoda Chanty</h3>
                        <p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>

            </div>
            <div class="item filter sushi">
                <div class="thumbnail">
                    <img src="~/Content/images/featured/img1.png" alt="" />
                    <div class="caption">
                        <h3>Pakoda Chanty</h3>
                        <p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>

            </div>
            <div class="item filter fastfood">
                <div class="thumbnail">
                    <img src="~/Content/images/featured/img1.png" alt="" />
                    <div class="caption">
                        <h3>Pakoda Chanty</h3>
                        <p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>

            </div>
            <div class="item">
                <div class="thumbnail">
                    <img src="~/Content/images/featured/img1.png" alt="" />
                    <div class="caption">
                        <h3>Pakoda Chanty</h3>
                        <p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
