<div class="how-works">
    <div class="col-md-7 col-xs-12 how-steps">
        <h2>How it works?</h2>
        <ul class="media-list">
            <li class="media">
                <div class="media-left media-middle">
                    <p><span class="num">1</span><br><span>Step</span></p>
                </div>
                <div class="media-body">
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                </div>
            </li>
            <li class="media">
                <div class="media-left media-middle">
                    <p><span class="num">1</span><br><span>Step</span></p>
                </div>
                <div class="media-body">
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                </div>
            </li>
            <li class="media">
                <div class="media-left media-middle">
                    <p><span class="num">1</span><br><span>Step</span></p>
                </div>
                <div class="media-body">
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                </div>
            </li>
            <li class="media">
                <div class="media-left media-middle">
                    <p><span class="num">1</span><br><span>Step</span></p>
                </div>
                <div class="media-body">
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                </div>
            </li>
            <li class="media">
                <div class="media-left media-middle">
                    <p><span class="num">1</span><br><span>Step</span></p>
                </div>
                <div class="media-body">
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                </div>
            </li>
        </ul>
    </div>
</div>
