<div class="reviews">
    <h2>People Reviews</h2>
    <div class="tcb-carousel-reviews">
        <div class="container">
            <div id="carousel-reviews" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="block-text ">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img src="~/Content/images/testimonial/rest.png" alt="" />
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">China house</h4>
                                            Raml station, Alexandria
                                        </div>
                                    </div>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat excepturi et aliquam quaerat nam fugit sequi minus ipsa autem laudantium ...</p>
                                    <div class="mark">
                                        <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span> </span>
                                    </div>
                                    <ins class="sprite sprite-i-triangle"></ins>
                                </div>
                                <div class="person-text">
                                    <div class="reviewer">
                                        <img class="img-responsive " src="~/Content/images/testimonial/128.jpg" alt="" />
                                    </div>
                                    <a title="" href="#">Someone Famous</a>
                                    <p><span><span style="color:#fa2d65">20</span>Reviews</span> <span><span style="color:#fa2d65">20</span>Reviews</span></p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 hidden-xs">
                                <div class="block-text ">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img src="~/Content/images/testimonial/rest.png" alt="" />
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">China house</h4>
                                            Raml station, Alexandria
                                        </div>
                                    </div>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat excepturi et aliquam quaerat nam fugit sequi minus ipsa autem laudantium ...</p>
                                    <div class="mark">
                                        <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span> </span>
                                    </div>
                                    <ins class="sprite sprite-i-triangle"></ins>
                                </div>
                                <div class="person-text">
                                    <div class="reviewer">
                                        <img class="img-responsive " src="~/Content/images/testimonial/128.jpg" alt="" />
                                    </div>
                                    <a title="" href="#">Someone Famous</a>
                                    <p><span><span style="color:#fa2d65">20</span>Reviews</span> <span><span style="color:#fa2d65">20</span>Reviews</span></p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
                                <div class="block-text ">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img src="~/Content/images/testimonial/rest.png" alt="" />
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">China house</h4>
                                            Raml station, Alexandria
                                        </div>
                                    </div>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat excepturi et aliquam quaerat nam fugit sequi minus ipsa autem laudantium ...</p>
                                    <div class="mark">
                                        <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span> </span>
                                    </div>
                                    <ins class="sprite sprite-i-triangle"></ins>
                                </div>
                                <div class="person-text">
                                    <div class="reviewer">
                                        <img class="img-responsive " src="~/Content/images/testimonial/128.jpg" alt="" />
                                    </div>
                                    <a title="" href="#">Someone Famous</a>
                                    <p><span><span style="color:#fa2d65">20</span>Reviews</span> <span><span style="color:#fa2d65">20</span>Reviews</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="block-text ">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img src="~/Content/images/testimonial/rest.png" alt="" />
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">China house</h4>
                                            Raml station, Alexandria
                                        </div>
                                    </div>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat excepturi et aliquam quaerat nam fugit sequi minus ipsa autem laudantium ...</p>
                                    <div class="mark">
                                        <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span> </span>
                                    </div>
                                    <ins class="sprite sprite-i-triangle"></ins>
                                </div>
                                <div class="person-text">
                                    <div class="reviewer">
                                        <img class="img-responsive " src="~/Content/images/testimonial/128.jpg" alt="" />
                                    </div>
                                    <a title="" href="#">Someone Famous</a>
                                    <p><span><span style="color:#fa2d65">20</span>Reviews</span> <span><span style="color:#fa2d65">20</span>Reviews</span></p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 hidden-xs">
                                <div class="block-text ">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img src="~/Content/images/testimonial/rest.png" alt="" />
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">China house</h4>
                                            Raml station, Alexandria
                                        </div>
                                    </div>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat excepturi et aliquam quaerat nam fugit sequi minus ipsa autem laudantium ...</p>
                                    <div class="mark">
                                        <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span> </span>
                                    </div>
                                    <ins class="sprite sprite-i-triangle"></ins>
                                </div>
                                <div class="person-text">
                                    <div class="reviewer">
                                        <img class="img-responsive " src="~/Content/images/testimonial/128.jpg" alt="" />
                                    </div>
                                    <a title="" href="#">Someone Famous</a>
                                    <p><span><span style="color:#fa2d65">20</span>Reviews</span> <span><span style="color:#fa2d65">20</span>Reviews</span></p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
                                <div class="block-text ">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img src="~/Content/images/testimonial/rest.png" alt="" />
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">China house</h4>
                                            Raml station, Alexandria
                                        </div>
                                    </div>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat excepturi et aliquam quaerat nam fugit sequi minus ipsa autem laudantium ...</p>
                                    <div class="mark">
                                        <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span> </span>
                                    </div>
                                    <ins class="sprite sprite-i-triangle"></ins>
                                </div>
                                <div class="person-text">
                                    <div class="reviewer">
                                        <img class="img-responsive " src="~/Content/images/testimonial/128.jpg" alt="" />
                                    </div>
                                    <a title="" href="#">Someone Famous</a>
                                    <p><span><span style="color:#fa2d65">20</span>Reviews</span> <span><span style="color:#fa2d65">20</span>Reviews</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="block-text ">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img src="~/Content/images/testimonial/rest.png" alt="" />
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">China house</h4>
                                            Raml station, Alexandria
                                        </div>
                                    </div>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat excepturi et aliquam quaerat nam fugit sequi minus ipsa autem laudantium ...</p>
                                    <div class="mark">
                                        <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span> </span>
                                    </div>
                                    <ins class="sprite sprite-i-triangle"></ins>
                                </div>
                                <div class="person-text">
                                    <div class="reviewer">
                                        <img class="img-responsive " src="~/Content/images/testimonial/128.jpg" alt="" />
                                    </div>
                                    <a title="" href="#">Someone Famous</a>
                                    <p><span><span style="color:#fa2d65">20</span>Reviews</span> <span><span style="color:#fa2d65">20</span>Reviews</span></p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 hidden-xs">
                                <div class="block-text ">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img src="~/Content/images/testimonial/rest.png" alt="" />
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">China house</h4>
                                            Raml station, Alexandria
                                        </div>
                                    </div>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat excepturi et aliquam quaerat nam fugit sequi minus ipsa autem laudantium ...</p>
                                    <div class="mark">
                                        <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span> </span>
                                    </div>
                                    <ins class="sprite sprite-i-triangle"></ins>
                                </div>
                                <div class="person-text">
                                    <div class="reviewer">
                                        <img class="img-responsive " src="~/Content/images/testimonial/128.jpg" alt="" />
                                    </div>
                                    <a title="" href="#">Someone Famous</a>
                                    <p><span><span style="color:#fa2d65">20</span>Reviews</span> <span><span style="color:#fa2d65">20</span>Reviews</span></p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
                                <div class="block-text ">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img src="~/Content/images/testimonial/rest.png" alt="" />
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">China house</h4>
                                            Raml station, Alexandria
                                        </div>
                                    </div>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat excepturi et aliquam quaerat nam fugit sequi minus ipsa autem laudantium ...</p>
                                    <div class="mark">
                                        <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span> </span>
                                    </div>
                                    <ins class="sprite sprite-i-triangle"></ins>
                                </div>
                                <div class="person-text">
                                    <div class="reviewer">
                                        <img class="img-responsive " src="~/Content/images/testimonial/128.jpg" alt="" />
                                    </div>
                                    <a title="" href="#">Someone Famous</a>
                                    <p><span><span style="color:#fa2d65">20</span>Reviews</span> <span><span style="color:#fa2d65">20</span>Reviews</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-reviews" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-reviews" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>

</div>
