
<div class="search-result trending">
    <div class="container">
        <div class="row trending-week">
            <div class="col-md-3 col-sm-3 tre-img">
                <img src="~/Content/images/trending.png" alt="" />
            </div>
            <div class="col-md-5 col-sm-5">
                <h4>TRENDING THIS WEEK</h4>
                <p>distracted by the readable content of a page when </p>
                <h3><span class="places">30</span> <span>PLACES</span></h3>
            </div>
            <div class="col-md-4 col-sm-4">
                <button class="btn btn-default btn-outline" type="submit">Save Collection</button>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6 ">
                <div class="panel panel-default filter italian">
                    <div class="row card">
                        <div class=" col-lg-6 col-md-4 col-sm-6">
                            <img src="~/Content/images/search-result/resturant.png" class="image-responsive" alt="" />
                        </div>
                        <div class=" col-lg-6 col-md-8 col-sm-6 data">
                            <h3>Pakoda Chanty</h3>
                            <p>Raml Station, Alexandria, Egypt</p>
                            <p><span><span style="color:#fa2d65;">200</span>Reviews</span> <span><span style="color:#fa2d65;">100</span>Followers</span> <span><span style="color:#fa2d65;">100</span>Check in</span></p>
                            <p>Pizza | Italian Food</p>
                            <button class="btn btn-default" type="submit">Book A Table</button><button class="btn btn-default btn-outline" type="submit">Order Online</button>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default filter italian">
                    <div class="row card">
                        <div class=" col-lg-6 col-md-4 col-sm-6">
                            <img src="~/Content/images/search-result/resturant.png" class="image-responsive" alt="" />
                        </div>
                        <div class=" col-lg-6 col-md-8 col-sm-6 data">
                            <h3>Pakoda Chanty</h3>
                            <p>Raml Station, Alexandria, Egypt</p>
                            <p><span><span style="color:#fa2d65;">200</span>Reviews</span> <span><span style="color:#fa2d65;">100</span>Followers</span> <span><span style="color:#fa2d65;">100</span>Check in</span></p>
                            <p>Pizza | Italian Food</p>
                            <button class="btn btn-default" type="submit">Book A Table</button><button class="btn btn-default btn-outline" type="submit">Order Online</button>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default filter italian">
                    <div class="row card">
                        <div class=" col-lg-6 col-md-4 col-sm-6">
                            <img src="~/Content/images/search-result/resturant.png" class="image-responsive" alt="" />
                        </div>
                        <div class=" col-lg-6 col-md-8 col-sm-6 data">
                            <h3>Pakoda Chanty</h3>
                            <p>Raml Station, Alexandria, Egypt</p>
                            <p><span><span style="color:#fa2d65;">200</span>Reviews</span> <span><span style="color:#fa2d65;">100</span>Followers</span> <span><span style="color:#fa2d65;">100</span>Check in</span></p>
                            <p>Pizza | Italian Food</p>
                            <button class="btn btn-default" type="submit">Book A Table</button><button class="btn btn-default btn-outline" type="submit">Order Online</button>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default filter italian">
                    <div class="row card">
                        <div class=" col-lg-6 col-md-4 col-sm-6">
                            <img src="~/Content/images/search-result/resturant.png" class="image-responsive" alt="" />
                        </div>
                        <div class=" col-lg-6 col-md-8 col-sm-6 data">
                            <h3>Pakoda Chanty</h3>
                            <p>Raml Station, Alexandria, Egypt</p>
                            <p><span><span style="color:#fa2d65;">200</span>Reviews</span> <span><span style="color:#fa2d65;">100</span>Followers</span> <span><span style="color:#fa2d65;">100</span>Check in</span></p>
                            <p>Pizza | Italian Food</p>
                            <button class="btn btn-default" type="submit">Book A Table</button><button class="btn btn-default btn-outline" type="submit">Order Online</button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-12 col-lg-6 ">
                <div class="panel panel-default filter italian">
                    <div class="row card">
                        <div class=" col-lg-6 col-md-4 col-sm-6">
                            <img src="~/Content/images/search-result/resturant.png" class="image-responsive" alt="" />
                        </div>
                        <div class=" col-lg-6 col-md-8 col-sm-6 data">
                            <h3>Pakoda Chanty</h3>
                            <p>Raml Station, Alexandria, Egypt</p>
                            <p><span><span style="color:#fa2d65;">200</span>Reviews</span> <span><span style="color:#fa2d65;">100</span>Followers</span> <span><span style="color:#fa2d65;">100</span>Check in</span></p>
                            <p>Pizza | Italian Food</p>
                            <button class="btn btn-default" type="submit">Book A Table</button><button class="btn btn-default btn-outline" type="submit">Order Online</button>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default filter italian">
                    <div class="row card">
                        <div class=" col-lg-6 col-md-4 col-sm-6">
                            <img src="~/Content/images/search-result/resturant.png" class="image-responsive" alt="" />
                        </div>
                        <div class=" col-lg-6 col-md-8 col-sm-6 data">
                            <h3>Pakoda Chanty</h3>
                            <p>Raml Station, Alexandria, Egypt</p>
                            <p><span><span style="color:#fa2d65;">200</span>Reviews</span> <span><span style="color:#fa2d65;">100</span>Followers</span> <span><span style="color:#fa2d65;">100</span>Check in</span></p>
                            <p>Pizza | Italian Food</p>
                            <button class="btn btn-default" type="submit">Book A Table</button><button class="btn btn-default btn-outline" type="submit">Order Online</button>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default filter italian">
                    <div class="row card">
                        <div class=" col-lg-6 col-md-4 col-sm-6">
                            <img src="~/Content/images/search-result/resturant.png" class="image-responsive" alt="" />
                        </div>
                        <div class=" col-lg-6 col-md-8 col-sm-6 data">
                            <h3>Pakoda Chanty</h3>
                            <p>Raml Station, Alexandria, Egypt</p>
                            <p><span><span style="color:#fa2d65;">200</span>Reviews</span> <span><span style="color:#fa2d65;">100</span>Followers</span> <span><span style="color:#fa2d65;">100</span>Check in</span></p>
                            <p>Pizza | Italian Food</p>
                            <button class="btn btn-default" type="submit">Book A Table</button><button class="btn btn-default btn-outline" type="submit">Order Online</button>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default filter italian">
                    <div class="row card">
                        <div class=" col-lg-6 col-md-4 col-sm-6">
                            <img src="~/Content/images/search-result/resturant.png" class="image-responsive" alt="" />
                        </div>
                        <div class=" col-lg-6 col-md-8 col-sm-6 data">
                            <h3>Pakoda Chanty</h3>
                            <p>Raml Station, Alexandria, Egypt</p>
                            <p><span><span style="color:#fa2d65;">200</span>Reviews</span> <span><span style="color:#fa2d65;">100</span>Followers</span> <span><span style="color:#fa2d65;">100</span>Check in</span></p>
                            <p>Pizza | Italian Food</p>
                            <button class="btn btn-default" type="submit">Book A Table</button><button class="btn btn-default btn-outline" type="submit">Order Online</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>