<div class="account">
    <div class="container">

        <div class="row account-info">
            <div class="col-md-6 col-sm-6">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img src="~/Content/images/account/profile.png" class="media-object" alt="" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Mohamed Ahmed</h4>
                        <i class="fa fa-map-marker" aria-hidden="true"></i> Alexandria, Egypt
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="followers">
                    <ul>
                        <li><p>Reviews</p><p>84</p></li>
                        <li><p>Reviews</p><p>84</p></li>
                        <li><p>Reviews</p><p>84</p></li>
                    </ul>
                    <br>
                    <button type="button" class="btn btn-default ">follow</button>
                </div>

            </div>
        </div>
        <div class=" row account-details">
            <div class="col-md-3 account-list">
                <div class="panel panel-default">

                    <!-- List group -->
                    <ul class="list-group nav nav-tabs v-tabs" role="tablist">
                        <li class="list-group-item active"><a href="#account" role="tab" data-toggle="tab"> <img src="~/Content/images/account.png" alt="" /> <span>Account</span></a></li>
                        <li class="list-group-item"><a href="#collections" role="tab" data-toggle="tab"> <img src="~/Content/images/collection.png" alt="" /> <span>Collection</span></a></li>
                        <li class="list-group-item"><a href="#order-history" role="tab" data-toggle="tab"> <img src="~/Content/images/history.png" alt="" /> <span>Order history</span></a></li>
                        <li class="list-group-item"><a href="#bookmarks" role="tab" data-toggle="tab"> <img src="~/Content/images/bookmark.png" alt="" /> <span>Bookmarks</span></a></li>
                        <li class="list-group-item"><a href="#my-meals" role="tab" data-toggle="tab"> <img src="~/Content/images/meal.png" alt="" /> <span>My meals</span></a></li>
                        <li class="list-group-item"><a href="#payments" role="tab" data-toggle="tab"> <img src="~/Content/images/credit.png" alt="" /> <span>Payments</span></a></li>
                        <li class="list-group-item"><a href="#settings" role="tab" data-toggle="tab"> <img src="~/Content/images/settings.png" alt="" /> <span>Settings</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 tabs-details">
                <div>

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Reviews</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Photos</a></li>
                        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">friends</a></li>
                        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">followers</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane  fade in active" id="account">
                            <div class="comment-card">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img src="~/Content/images/account/profile.png" class="media-object" alt="" />

                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">Media heading</h4>
                                                <p><span class="pink">300</span><span>Reviews</span>&nbsp;&nbsp;<span class="pink">300</span><span>Reviews</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 likes pull-right">
                                        <p>just now</p>
                                        <p><i class="fa fa-heart" aria-hidden="true"></i><span>23</span>&nbsp;&nbsp;&nbsp; <i class="fa fa-comment-o" aria-hidden="true"></i><span>76</span></p>

                                    </div>
                                </div>
                                <div class=" review">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img src="~/Content/images/account/profile.png" class="media-object" alt="" />

                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">China house</h4>
                                            <p>Raml station, Alexandria, Egypt</p>
                                            <a href="">add to favourites</a>
                                        </div>
                                    </div>

                                </div>
                                <p class="review-content">Funny thing is, when you string all of these phrases together into a sentence, and multiple sentences to form a paragraph</p>
                                <ul>
                                    <li><i class="fa fa-heart" aria-hidden="true"></i> LIKED</li>
                                    <li><i class="fa fa-comment-o" aria-hidden="true"></i> COMMENT</li>
                                    <li><i class="fa fa-share-alt" aria-hidden="true"></i> SHARE</li>
                                </ul>
                            </div>
                            <div class="comment-card">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img src="~/Content/images/account/profile.png" class="media-object" alt="" />

                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">Media heading</h4>
                                                <p><span class="pink">300</span><span>Reviews</span>&nbsp;&nbsp;<span class="pink">300</span><span>Reviews</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 likes pull-right">
                                        <p>just now</p>
                                        <p><i class="fa fa-heart" aria-hidden="true"></i><span>23</span>&nbsp;&nbsp;&nbsp; <i class="fa fa-comment-o" aria-hidden="true"></i><span>76</span></p>

                                    </div>
                                </div>
                                <div class=" review">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img src="~/Content/images/account/profile.png" class="media-object" alt="" />

                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">China house</h4>
                                            <p>Raml station, Alexandria, Egypt</p>
                                            <a href="">add to favourites</a>
                                        </div>
                                    </div>

                                </div>
                                <p class="review-content">Funny thing is, when you string all of these phrases together into a sentence, and multiple sentences to form a paragraph</p>
                                <ul>
                                    <li><i class="fa fa-heart" aria-hidden="true"></i> LIKED</li>
                                    <li><i class="fa fa-comment-o" aria-hidden="true"></i> COMMENT</li>
                                    <li><i class="fa fa-share-alt" aria-hidden="true"></i> SHARE</li>
                                </ul>
                            </div>
                            <div class="comment-card">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img src="~/Content/images/account/profile.png" class="media-object" alt="" />

                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">Media heading</h4>
                                                <p><span class="pink">300</span><span>Reviews</span>&nbsp;&nbsp;<span class="pink">300</span><span>Reviews</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 likes pull-right">
                                        <p>just now</p>
                                        <p><i class="fa fa-heart" aria-hidden="true"></i><span>23</span>&nbsp;&nbsp;&nbsp; <i class="fa fa-comment-o" aria-hidden="true"></i><span>76</span></p>

                                    </div>
                                </div>
                                <div class=" review">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img src="~/Content/images/account/profile.png" class="media-object" alt="" />

                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">China house</h4>
                                            <p>Raml station, Alexandria, Egypt</p>
                                            <a href="">add to favourites</a>
                                        </div>
                                    </div>

                                </div>
                                <p class="review-content">Funny thing is, when you string all of these phrases together into a sentence, and multiple sentences to form a paragraph</p>
                                <ul>
                                    <li><i class="fa fa-heart" aria-hidden="true"></i> LIKED</li>
                                    <li><i class="fa fa-comment-o" aria-hidden="true"></i> COMMENT</li>
                                    <li><i class="fa fa-share-alt" aria-hidden="true"></i> SHARE</li>
                                </ul>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane  fade" id="collections">
                            <div class=" collection-cards">
                                <div class="row">

                                    <div class="col-sm-6 col-md-6 col-lg-4 filter saved">
                                        <div class="thumbnail">
                                            <a href=""> <img src="~/Content/images/collection-list/thumb.png" class="img-responsive" alt="" /></a>
                                            <div class="caption">
                                                <h4><a href=""> TRENDING THIS WEEK</a></h4>
                                                <p>surved not only not only surved</p>
                                                <h3><span class="number">30</span> <span>PLACES</span><span class="save-coll"><a href="">save collections</a></span></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-4 filter saved">
                                        <div class="thumbnail">
                                            <a href=""> <img src="~/Content/images/collection-list/thumb.png" class="img-responsive" alt="" /></a>
                                            <div class="caption">
                                                <h4><a href=""> TRENDING THIS WEEK</a></h4>
                                                <p>surved not only not only surved</p>
                                                <h3><span class="number">30</span> <span>PLACES</span><span class="save-coll"><a href="">save collections</a></span></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-4 filter saved">
                                        <div class="thumbnail">
                                            <a href=""> <img src="~/Content/images/collection-list/thumb.png" class="img-responsive" alt="" /></a>
                                            <div class="caption">
                                                <h4><a href=""> TRENDING THIS WEEK</a></h4>
                                                <p>surved not only not only surved</p>
                                                <h3><span class="number">30</span> <span>PLACES</span><span class="save-coll"><a href="">save collections</a></span></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-4 filter saved">
                                        <div class="thumbnail">
                                            <a href=""> <img src="~/Content/images/collection-list/thumb.png" class="img-responsive" alt="" /></a>
                                            <div class="caption">
                                                <h4><a href=""> TRENDING THIS WEEK</a></h4>
                                                <p>surved not only not only surved</p>
                                                <h3><span class="number">30</span> <span>PLACES</span><span class="save-coll"><a href="">save collections</a></span></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-4 filter saved">
                                        <div class="thumbnail">
                                            <a href=""> <img src="~/Content/images/collection-list/thumb.png" class="img-responsive" alt="" /></a>
                                            <div class="caption">
                                                <h4><a href=""> TRENDING THIS WEEK</a></h4>
                                                <p>surved not only not only surved</p>
                                                <h3><span class="number">30</span> <span>PLACES</span><span class="save-coll"><a href="">save collections</a></span></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-4 filter saved">
                                        <div class="thumbnail">
                                            <a href=""> <img src="~/Content/images/collection-list/thumb.png" class="img-responsive" alt="" /></a>
                                            <div class="caption">
                                                <h4><a href=""> TRENDING THIS WEEK</a></h4>
                                                <p>surved not only not only surved</p>
                                                <h3><span class="number">30</span> <span>PLACES</span><span class="save-coll"><a href="">save collections</a></span></h3>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="order-history">
                            <div class=" history-list">
                                <div class="row">
                                    <div class="col-md-5 col-sm-5">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="~/Content/images/order.png" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">china house</h4>
                                                <p>Raml Station, Alexandria, Egypt.</p>
                                                <p>3 days ago</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <p>
                                            <span>items on order:</span> Edamame Hummus and Asian Stir Veg fry
                                            Edamame Hummus
                                        </p>
                                        <p><span>total:</span> <span class="pink">200</span>$</p>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <button type="button" class="btn btn-default">Reorder </button>
                                    </div>
                                </div>
                            </div>
                            <div class=" history-list">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="~/Content/images/order.png" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">china house</h4>
                                                <p>Raml Station, Alexandria, Egypt.</p>
                                                <p>3 days ago</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <span>items on order:</span> Edamame Hummus and Asian Stir Veg fry
                                            Edamame Hummus
                                        </p>
                                        <p><span>total:</span> <span class="pink">200</span>$</p>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-default">Reorder </button>
                                    </div>
                                </div>
                            </div>
                            <div class=" history-list">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="~/Content/images/order.png" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">china house</h4>
                                                <p>Raml Station, Alexandria, Egypt.</p>
                                                <p>3 days ago</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <span>items on order:</span> Edamame Hummus and Asian Stir Veg fry
                                            Edamame Hummus
                                        </p>
                                        <p><span>total:</span> <span class="pink">200</span>$</p>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-default">Reorder </button>
                                    </div>
                                </div>
                            </div>
                            <div class=" history-list">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="~/Content/images/order.png" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">china house</h4>
                                                <p>Raml Station, Alexandria, Egypt.</p>
                                                <p>3 days ago</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <span>items on order:</span> Edamame Hummus and Asian Stir Veg fry
                                            Edamame Hummus
                                        </p>
                                        <p><span>total:</span> <span class="pink">200</span>$</p>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-default">Reorder </button>
                                    </div>
                                </div>
                            </div>
                            <div class=" history-list">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="~/Content/images/order.png" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">china house</h4>
                                                <p>Raml Station, Alexandria, Egypt.</p>
                                                <p>3 days ago</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <span>items on order:</span> Edamame Hummus and Asian Stir Veg fry
                                            Edamame Hummus
                                        </p>
                                        <p><span>total:</span> <span class="pink">200</span>$</p>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-default">Reorder </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="bookmarks">
                            <div class="">
                                <div class="row">
                                    <div class=" col-lg-6 col-md-12 col-sm-12">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="~/Content/images/order.png" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body row">
                                                <div class=" col-lg-10 col-md-10 col-xs-10 book-data">
                                                    <h4 class="media-heading">china house</h4>
                                                    <p>Raml Station, Alexandria, Egypt.</p>
                                                    <p>Pizza | Italian Food <span class="book-time">20 m</span></p>
                                                    <span><span class="pink">200</span>Reviews</span> &nbsp;<span><span class="pink">100</span>Followers</span> &nbsp;<span><span style="color:#fa2d65;">100</span>Check in</span>
                                                </div>
                                                <div class=" col-lg-2 col-md-2 col-xs-2 pull-right book-img">
                                                    <img src="~/Content/images/bookmark-icon.png" alt="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-lg-6 col-md-12 col-sm-12">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="~/Content/images/order.png" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body row">
                                                <div class=" col-lg-10 col-md-10 col-xs-10 book-data">
                                                    <h4 class="media-heading">china house</h4>
                                                    <p>Raml Station, Alexandria, Egypt.</p>
                                                    <p>Pizza | Italian Food <span class="book-time">20 m</span></p>
                                                    <span><span class="pink">200</span>Reviews</span> &nbsp;<span><span class="pink">100</span>Followers</span> &nbsp;<span><span style="color:#fa2d65;">100</span>Check in</span>
                                                </div>
                                                <div class=" col-lg-2 col-md-2 col-xs-2 pull-right book-img">
                                                    <img src="~/Content/images/bookmark-icon.png" alt="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-lg-6 col-md-12 col-sm-12">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="~/Content/images/order.png" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body row">
                                                <div class=" col-lg-10 col-md-10 col-xs-10 book-data">
                                                    <h4 class="media-heading">china house</h4>
                                                    <p>Raml Station, Alexandria, Egypt.</p>
                                                    <p>Pizza | Italian Food <span class="book-time">20 m</span></p>
                                                    <span><span class="pink">200</span>Reviews</span> &nbsp;<span><span class="pink">100</span>Followers</span> &nbsp;<span><span style="color:#fa2d65;">100</span>Check in</span>
                                                </div>
                                                <div class=" col-lg-2 col-md-2 col-xs-2 pull-right book-img">
                                                    <img src="~/Content/images/bookmark-icon.png" alt="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-lg-6 col-md-12 col-sm-12">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="~/Content/images/order.png" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body row">
                                                <div class=" col-lg-10 col-md-10 col-xs-10 book-data">
                                                    <h4 class="media-heading">china house</h4>
                                                    <p>Raml Station, Alexandria, Egypt.</p>
                                                    <p>Pizza | Italian Food <span class="book-time">20 m</span></p>
                                                    <span><span class="pink">200</span>Reviews</span> &nbsp;<span><span class="pink">100</span>Followers</span> &nbsp;<span><span style="color:#fa2d65;">100</span>Check in</span>
                                                </div>
                                                <div class=" col-lg-2 col-md-2 col-xs-2 pull-right book-img">
                                                    <img src="~/Content/images/bookmark-icon.png" alt="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-lg-6 col-md-12 col-sm-12">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="~/Content/images/order.png" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body row">
                                                <div class=" col-lg-10 col-md-10 col-xs-10 book-data">
                                                    <h4 class="media-heading">china house</h4>
                                                    <p>Raml Station, Alexandria, Egypt.</p>
                                                    <p>Pizza | Italian Food <span class="book-time">20 m</span></p>
                                                    <span><span class="pink">200</span>Reviews</span> &nbsp;<span><span class="pink">100</span>Followers</span> &nbsp;<span><span style="color:#fa2d65;">100</span>Check in</span>
                                                </div>
                                                <div class=" col-lg-2 col-md-2 col-xs-2 pull-right book-img">
                                                    <img src="~/Content/images/bookmark-icon.png" alt="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-lg-6 col-md-12 col-sm-12">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="~/Content/images/order.png" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body row">
                                                <div class=" col-lg-10 col-md-10 col-xs-10 book-data">
                                                    <h4 class="media-heading">china house</h4>
                                                    <p>Raml Station, Alexandria, Egypt.</p>
                                                    <p>Pizza | Italian Food <span class="book-time">20 m</span></p>
                                                    <span><span class="pink">200</span>Reviews</span> &nbsp;<span><span class="pink">100</span>Followers</span> &nbsp;<span><span style="color:#fa2d65;">100</span>Check in</span>
                                                </div>
                                                <div class=" col-lg-2 col-md-2 col-xs-2 pull-right book-img">
                                                    <img src="~/Content/images/bookmark-icon.png" alt="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane  fade" id="my-meals">...</div>
                        <div role="tabpanel" class="tab-pane fade" id="payments">...</div>
                        <div role="tabpanel" class="tab-pane fade" id="settings">...</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
