<div class="footer">
    <ul>
        <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-skype" aria-hidden="true"></i></a></li>
    </ul>
    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
</div>
