<!DOCTYPE html>
<html>
<head>
    <title>Pranzo | @ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
    <link href="~/Content/OwlCarousel2-2.2.1/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/OwlCarousel2-2.2.1/owl.theme.default.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
 
        @RenderBody()
       
    @Html.Partial("_Footer")

    <script src="~/Content/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/OwlCarousel2-2.2.1/owl.carousel.js" type="text/javascript"></script>
    <script>
            $(document).ready(function () {
                $('.owl-carousel').owlCarousel({
                    loop: true,
                    margin: 10,
                    responsiveClass: true,
                    responsive: {
                        0: {
                            items: 1,
                            nav: true
                        },
                        600: {
                            items: 3,
                            nav: false
                        },
                        1000: {
                            items: 4,
                            nav: true,
                            loop: false,
                            margin: 20
                        }
                    }
                })
            })
    </script>
    <script src="~/Content/js/main.js" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
