<div class="modal fade signup" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-~/Content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">SIGN UP</h4>
            </div>
            <div class="modal-body">

                <a href="">
                    <img src="~/Content/images/insta.png" alt="" />
                </a>
                <a href="">
                    <img src="~/Content/images/fb.png" alt="" />
                </a>
                <h5 class="no-span">or</h5>
                <form action="/action_page.php">
                    <input type="text" name="firstname" value="First name">
                    <br>
                    <input type="text" name="email" value="Email">
                    <br>
                    <input type="text" name="password" value="Password">
                    <br>
                    <input type="text" name="confirm" value="Confirm password">
                    <br>
                    <input class="submit" type="submit" value="SIGN up">
                </form>
                <p><span><a href=""> already have an account</a><span><a href="" style="color:#b22c2f; font-weight: 600;"> Login</a></span> </span></span></p>
            </div>

        </div>
    </div>
</div>
