<div class="search-result">
    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-list" aria-hidden="true"></i> CUISIN TYPE</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li><a href=""> <i class="fa fa-play-circle-o" aria-hidden="true"></i> Any</a></li>
                            <li> <a href=""> <i class="fa fa-play-circle-o" aria-hidden="true"></i> Sushi</a></li>
                            <li> <a href=""> <i class="fa fa-play-circle-o" aria-hidden="true"></i> Fastfood</a></li>
                            <li> <a href=""> <i class="fa fa-play-circle-o" aria-hidden="true"></i>Pizza</a></li>
                            <li> <a href=""> <i class="fa fa-play-circle-o" aria-hidden="true"></i> Fresh</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-map-marker" aria-hidden="true"></i> LOCATION</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li> <a href=""> <i class="fa fa-play-circle-o" aria-hidden="true"></i> Any</a></li>
                            <li> <a href=""> <i class="fa fa-play-circle-o" aria-hidden="true"></i> Out door</a></li>
                            <li> <a href=""> <i class="fa fa-play-circle-o" aria-hidden="true"></i> Parking</a></li>
                            <li> <a href=""> <i class="fa fa-play-circle-o" aria-hidden="true"></i> Smoking allowed</a></li>
                            <li> <a href=""> <i class="fa fa-play-circle-o" aria-hidden="true"></i> closed</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">

                <div class="filter-btns">
                    <!--                            <div class="dropdown hidden-lg hidden-md hidden-sm">
                                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        Dropdown
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                        <li><a href="#">Action</a></li>
                                                        <li><a href="#">Another action</a></li>
                                                        <li><a href="#">Something else here</a></li>
                                                        <li role="separator" class="divider"></li>
                                                        <li><a href="#">Separated link</a></li>
                                                    </ul>
                                                </div>-->
                    <button class="btn btn-default filter-button act" data-filter="all">All</button>
                    <button class="btn btn-default filter-button " data-filter="italian">ITALIAN</button>
                    <button class="btn btn-default filter-button " data-filter="mexican">MEXICAN</button>
                    <button class="btn btn-default filter-button " data-filter="sushi">SUSHI</button>
                    <button class="btn btn-default filter-button " data-filter="fastfood">FASTFOOD</button>
                </div>
                <div class="panel panel-default filter italian">
                    <div class="row card">
                        <div class="col-md-4 col-sm-4">
                            <img src="~/Content/images/search-result/resturant.png" class="image-responsive" alt="" />
                        </div>
                        <div class="col-md-5 col-sm-5 data">
                            <h3>Pakoda Chanty</h3>
                            <p>Raml Station, Alexandria, Egypt</p>
                            <p><span><span style="color:#fa2d65;">200</span>Reviews</span> <span><span style="color:#fa2d65;">100</span>Followers</span> <span><span style="color:#fa2d65;">100</span>Check in</span></p>
                            <p>Pizza | Italian Food</p>
                            <button class="btn btn-default" type="submit">Book A Table</button><button class="btn btn-default btn-outline" type="submit">Order Online</button>
                        </div>
                        <div class="col-md-3  col-sm-3 stars">
                            <p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></p>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default filter mexican">
                    <div class="row card">
                        <div class="col-md-4 col-sm-4">
                            <img src="~/Content/images/search-result/resturant.png" class="image-responsive" alt="" />
                        </div>
                        <div class="col-md-5 col-sm-5 data">
                            <h3>Pakoda Chanty</h3>
                            <p>Raml Station, Alexandria, Egypt</p>
                            <p><span><span style="color:#fa2d65;">200</span>Reviews</span> <span><span style="color:#fa2d65;">100</span>Followers</span> <span><span style="color:#fa2d65;">100</span>Check in</span></p>
                            <p>Pizza | Italian Food</p>
                            <button class="btn btn-default" type="submit">Book A Table</button><button class="btn btn-default btn-outline" type="submit">Order Online</button>
                        </div>
                        <div class="col-md-3  col-sm-3 stars">
                            <p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></p>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default filter sushi">
                    <div class="row card">
                        <div class="col-md-4 col-sm-4">
                            <img src="~/Content/images/search-result/resturant.png" class="image-responsive" alt="" />
                        </div>
                        <div class="col-md-5 col-sm-5 data">
                            <h3>Pakoda Chanty</h3>
                            <p>Raml Station, Alexandria, Egypt</p>
                            <p><span><span style="color:#fa2d65;">200</span>Reviews</span> <span><span style="color:#fa2d65;">100</span>Followers</span> <span><span style="color:#fa2d65;">100</span>Check in</span></p>
                            <p>Pizza | Italian Food</p>
                            <button class="btn btn-default" type="submit">Book A Table</button><button class="btn btn-default btn-outline" type="submit">Order Online</button>
                        </div>
                        <div class="col-md-3  col-sm-3 stars">
                            <p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></p>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default filter fastfood">
                    <div class="row card">
                        <div class="col-md-4 col-sm-4">
                            <img src="~/Content/images/search-result/resturant.png" class="image-responsive" alt="" />
                        </div>
                        <div class="col-md-5 col-sm-5 data">
                            <h3>Pakoda Chanty</h3>
                            <p>Raml Station, Alexandria, Egypt</p>
                            <p><span><span style="color:#fa2d65;">200</span>Reviews</span> <span><span style="color:#fa2d65;">100</span>Followers</span> <span><span style="color:#fa2d65;">100</span>Check in</span></p>
                            <p>Pizza | Italian Food</p>
                            <button class="btn btn-default" type="submit">Book A Table</button><button class="btn btn-default btn-outline" type="submit">Order Online</button>
                        </div>
                        <div class="col-md-3  col-sm-3 stars">
                            <p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
